APP_NAME="Portfolio Miranto"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack

# Base de donnees (optionnelle : sqlite pour enregistrer les messages)
DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite

SESSION_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=sync

# ---- EMAIL : remplace par ton mot de passe d'application Gmail ----
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=mirantoandriamaherison@gmail.com
MAIL_PASSWORD="mot-de-passe-application-gmail"
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="mirantoandriamaherison@gmail.com"
MAIL_FROM_NAME="${APP_NAME}"
MAIL_TO_ADDRESS="mirantoandriamaherison@gmail.com"
